<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Translation</title>
    <style>
        #translations {
            font-size: 18px;
            padding: 20px;
            border: 1px solid #ccc;
            margin: 20px;
            height: 200px;
            overflow-y: auto;
        }

        .ml3 {
            font-weight: 300;
            font-size: 1em;
            opacity: 0; /* Hide initially */
        }
    </style>
</head>
<body>
    <h1>Live Translation</h1>
    <div id="translations"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        const translationsDiv = document.getElementById('translations');

        const eventSource = new EventSource('/stream');

        eventSource.onmessage = function(event) {
            const translation = event.data;
            // get ride of the new line character
            //translation = translation.replace(/(\r\n|\n|\r)/gm, "");

            // Create a new h1 element for each translation
            const translationElement = document.createElement('h1');
            translationElement.classList.add('ml3'); // Apply animation class
            translationElement.textContent = translation;
            translationsDiv.appendChild(translationElement);
            translationsDiv.scrollTop = translationsDiv.scrollHeight;

            // Trigger the animation
            animateText(translationElement);
        };

        function animateText(element) {

            //element.innerHTML = element.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

            anime.timeline({loop: false})
                .add({
                    targets: element,
                    opacity: [0,1],
                    easing: "easeInOutQuad",
                    duration: 5000,
                }).add({
                    targets: element,
                    opacity: 0,
                    duration: 1000,
                    easing: "easeOutExpo",
                    delay: 1000
                });
        }
    </script>
</body>
</html>
